[DEFAULT]
bantime = 86400
findtime = 600
maxretry = 3
banaction = {{ harden.fail2ban.banaction | default(harden.firewall.manage | ternary('ufw', 'nftables-multiport')) }}
backend = auto
loglevel = ERROR
logtarget = SYSLOG
syslog_target = /var/log/syslog
syslog_facility = AUTH
syslog_priority = ERROR
