[nginx-limit-req]
enabled = true
filter = nginx-limit-req
logpath = {{ harden.fail2ban.jails['nginx-limit-req'].logpath }}
findtime = {{ harden.fail2ban.jails['nginx-limit-req'].findtime }}
bantime = {{ harden.fail2ban.jails['nginx-limit-req'].bantime }}
maxretry = {{ harden.fail2ban.jails['nginx-limit-req'].maxretry }}
