Unattended-Upgrade::Allowed-Origins {
{% if harden.unattended_upgrades.security_only %}
    "${distro_id}:${distro_codename}-security";
{% else %}
    "${distro_id}:${distro_codename}";
    "${distro_id}:${distro_codename}-security";
    "${distro_id}:${distro_codename}-updates";
{% endif %}
};
Unattended-Upgrade::Automatic-Reboot "{{ 'true' if harden.unattended_upgrades.automatic_reboot else 'false' }}";
Unattended-Upgrade::Automatic-Reboot-Time "{{ harden.unattended_upgrades.automatic_reboot_time }}";
